<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Russo+One|Iceland|Bungee+Inline|Share+Tech+Mono" rel="stylesheet">
    <!--Set favicon -->
    <link rel="icon" href="/images/icons8-stack-of-money-48.png" type="image/gif" sizes="16x16">
    <title>Mutual Myth</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- CSS style -->
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body style="background-color: gray">
{{{ body }}}
<!-- Bootstrap CDN & JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--D3 JS CDN Library-->
<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- Popper JS -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
<!-- Latest compiled JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<!--External JS ref for the d3 js line graph-->
<script src="./js/linegraph.js "></script>
<script src="./js/addNewFund.js "></script>
<script src="./js/allNewFund.js "></script>
</body>
</html>
