<nav class="navbar navbar-expand-sm bg-light">
    <span class="glyphicon glyphicon-piggy-bank"></span>
    <h1 id="title">Mutual Myth</h1>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="/signin"><button type="button" class="btn btn-outline-success">Log In</button></a>
        </li>
        <li class="nav-item">
            <a href="/signup"><button type="button" class="btn btn-outline-success">Sign Up</button></a>
        </li>
    </ul>
</nav>

<div class="jumbotron jumbotron-fluid" id="jumbotron">
    <div class="container">
        <div id="header">
            <h2 id="header2">Are you saving enough!?</h2>
            Enter your preferred stock and see how it compares to the S&P 500
        </div>
        <form id="add_fund" name="add_fund" role="form" method="post" action="/allfunds/add">
            <div class="form-row">
                <div class="col-7">
                    <p>Fund Name:</p>
                    <input type="text" class="form-control" id="fund_name" placeholder="name">
                </div>
                <div class="col">
                    <p>Fund Symbol:</p>
                    <input type="text" class="form-control" id="fund_symbol" placeholder="symbol">
                </div>
                <div class="col">
                    <p>Expense Ratio:</p>
                    <input type="text" class="form-control" id="expense_ratio" placeholder="0.43">
                </div>
            </div>
            </br>
            <button type="submit" class="btn btn-success" id="add_fund_btn">Submit</button>
        </form>
    </div>
</div>



<div id="sample">
    <br>
<h3 id="sample2">Stock Comparison Graph</h3>
<div class="graph">
    <svg width="600" height="300">

    </svg>
</div>
</div>