<h1>Register:</h1>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Email</span>
    </div>
    <textarea class="form-control" aria-label="With textarea" id="remail"></textarea>
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Username</span>
    </div>
    <textarea class="form-control" aria-label="With textarea" id="rusername"></textarea>
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Password</span>
    </div>
    <textarea class="form-control" aria-label="With textarea" id="rpassword"></textarea>
</div>