<div class="container" id="signincontainer">
    <div class="card">
        <div class="card-body">

<form id="signup" name="signin" method="post" action="signin">
    <h1 id="login">
        Log In:
    </h1>
    <br>
    <label for="email" id="signininfo">Email Address</label><br/>
    <input class="text" name="email" type="text" /><br/><br>
    <label for="password" id="signininfo">Password</label><br/>
    <input name="password" type="password" /><br/><br>
    <button type="submit" class="btn btn-success">Submit</button><br/>
</form>

        </div>
    </div>
</div>